<%- include("includes/header.ejs") %>


<div class="mb-3">
    <!-- I'll add stuff later-->
    <form action="/index/filtered" method="post">
        <label>
            Level
        </label>
        <select name="level">
            <option value="ALL" selected>ALL</option>
<%
            for(i = 0; i < levels.length; i++) {
                l = levels[i];
%>
            <option value="<%= l %>"><%= l %></option>
<%
            }
%>
        </select>
        <label>
            Finished
        </label>
        <select name="finished">
            <option value="ALL" selected>ALL</option>
            <option value="WORKING">WORKING</option>
            <option value="DONE">DONE</option>
        </select>
        <input type="submit" value="Apply" class="btn btn-primary" />
    </form>
</div>

<div class="mb-3">
    <a href="/create" class="btn btn-primary">New</a>
</div>

<div class="mb-3">

<%
    for(i = 0; i < values.length; i++) {
        let v = values[i]

        let level = v.dataValues.level;
        let style = "";
        let img = "";
        let img_color = "";
        
        if(level == "NORMAL") {
            style = "border-success text-white";
            img = "/images/info-circle.svg";
            img_color = "img-color-normal";
        } else if(level == "PRIORITY") {
            style = "border-warning text-white";
            img = "/images/question-diamond.svg";
            img_color = "img-color-priority";
        } else if(level == "IMMEDIATE") {
            style = "border-danger text-white";
            img = "/images/exclamation-triangle.svg";
            img_color = "img-color-immediat";
        }


        const oneDay = 24 * 60 * 60 * 1000;
        const current = new Date();
        const end_date = new Date(v.dataValues.end_date);

        const diffDays = Math.round(Math.abs((end_date - current) / oneDay));

%>

    <div class="card mb-3 <%= style %>">
        <div class="card-header">
            <h2 class="card-title"><img src="<%= img %>" width="32" height="32" class="<%= img_color %>" /> <a href="/view/<%= v.dataValues.id %>"><%= v.dataValues.title %></a></h2>
            <p class="card-text">
                <%= v.dataValues.start_date %> to <%= v.dataValues.end_date %> you have <%= diffDays %> days left.
            </p>
        </div>
        <div class="card-body">
            <p class="card-title">
                Create By: <%= v.dataValues.name %>
            </p>
            <p class="card-text">
                <%= v.dataValues.description %>
            </p>
            <p>
                STATUS: 
                <%
                    if(v.dataValues.is_finished) {
                %>
                        Closed
                <%
                    } else {
                %>
                        Open
                <%
                    }
                %>
            </p>
        </div>
    </div>

<%
    }
%>

</div>

<%- include("includes/footer.ejs") %>