<%- include("includes/header.ejs") %>


<div class="mb-3">
    <!-- I'll add stuff later-->
    <form action="/index/filtered" method="post">
        <label>
            Level
        </label>
        <select name="level">
            <option value="ALL" selected>ALL</option>
<%
            for(i = 0; i < levels.length; i++) {
                l = levels[i];
%>
            <option value="<%= l %>"><%= l %></option>
<%
            }
%>
        </select>
        <label>
            Finished
        </label>
        <select name="finished">
            <option value="ALL" selected>ALL</option>
            <option value="WORKING">WORKING</option>
            <option value="DONE">DONE</option>
        </select>
        <input type="submit" value="Apply" class="btn btn-primary" />
    </form>
</div>

<div class="mb-3">
    <a href="#" class="btn btn-primary">New</a>
</div>

<div class="mb-3">

<%
    for(i = 0; i < values.length; i++) {
        let v = values[i]

        let level = v.dataValues.level;

        let style = "";

        if(level == "NORMAL") {
            style = "border-success text-white";
        } else if(level == "PRIORITY") {
            style = "border-warning text-white";
        } else if(level == "IMMEDIATE") {
            style = "border-danger text-white";
        }
%>

    <div class="card mb-3 <%= style %>">
        <div class="card-header">
            <h2 class="card-title"><%= v.dataValues.title %></h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                <%= v.dataValues.description %>
            </p>
            <p>
                STATUS: 
                <%
                    if(v.dataValues.is_finished) {
                %>
                        Finished
                <%
                    } else {
                %>
                        Not Finished
                <%
                    }
                %>
            </p>
        </div>
    </div>

<%
    }
%>

</div>

<%- include("includes/footer.ejs") %>