<%- include("includes/header.ejs") %>

<!-- This section will contain link buttons to go to different sections -->
<div class="mb-3">
    <a href="/edit/<%= task.dataValues.id %>" class="btn btn-primary">Edit</a> | <a href="/delete/<%= task.dataValues.id %>" class="btn btn-danger">Delete</a>
</div>
<!-- This section will view the -->
<%
let level = task.dataValues.level;

let style = "";
let img = "";

/*
<!-- 

    198754 success
    ffc107 warning
    dc3545 danger
    
-->
*/

let img_color = "";

if(level == "NORMAL") {
    style = "border-success text-white";
    img = "/images/info-circle.svg";
    img_color = "img-color-normal";
} else if(level == "PRIORITY") {
    style = "border-warning text-white";
    img = "/images/question-diamond.svg";
    img_color = "img-color-priority";
} else if(level == "IMMEDIATE") {
    style = "border-danger text-white";
    img = "/images/exclamation-triangle.svg";
    img_color = "img-color-immediat";
}
%>

<div class="card mb-3 <%= style %>">
    <div class="card-header">
        <h2 class="card-title"><img src="<%= img %>" width="32" height="32" class="<%= img_color %>" /> <%= task.dataValues.title %></h2>
    </div>
    <div class="card-body">
        <p class="card-title">
            Create By: <%= task.dataValues.name %>
        </p>
        <p class="card-text">
            <%= task.dataValues.description %>
        </p>
        <p>
            STATUS: 
            <%
                if(task.dataValues.is_finished) {
            %>
                    Closed
            <%
                } else {
            %>
                    Open
            <%
                }
            %>
        </p>
    </div>
</div>
<!-- This little form will be used to finalize task or reinable it. -->
<div>
<% 
    if(task.dataValues.is_finished) {
%>
        <form action="/view/<%= task.dataValues.id %>/open" method="post">
            <div class="mb-3">
                <input type="submit" value="open" class="btn btn-primary">
            </div>
        </form>
<%
    } else {
%>
        <form action="/view/<%= task.dataValues.id %>/close" method="post">
            <div class="mb-3">
                <input type="submit" value="close" class="btn btn-primary">
            </div>
        </form>
<%
    }
%>
</div>
<!-- This form will allow for the users to post -->

<%
    if(!task.dataValues.is_finished) {
        // This makes since because your closing the 
        // Task so why comment on it.
%>
<div class="mb-3">
    <form action="/view/<%= task.dataValues.id %>/comment" method="post">
        <div class="mb-3">
            <lable class="form-label">
                Name
            </lable>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">
                Message
            </label>
            <textarea name="message" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <input type="submit" value="Add Comment" class="btn btn-primary" />
        </div>
    </form>
</div>

<%
    }
%>
<!-- This will display all the comments on the given task. -->
<div class="mb-3">
    Comments
</div>
<% 
    for(let i = 0; i < comments.length; i++) {
        let temp = comments[i];

%>
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">
                    Create By: <%= temp.dataValues.name %>
                </h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <%= temp.dataValues.message %>
                </p>
            </div>
        </div>
<%
    }
%>
<div class="mb-3">
    <a href="/">Back to Index</a>
</div>
<%- include("includes/footer.ejs") %>